<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.n26.modulardagger.presentation_1">
    <application>
        <activity android:name="com.n26.modulardagger.presentation_1.Presentation1Activity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
                <category android:name="android.intent.category.BROWSABLE"/>
            </intent-filter>
        </activity>
    </application>
</manifest>
